@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.radialMain {
    width: 500px;
    height: 500px;

    border-radius: 50%;
    border: solid 50px grey;

    position: absolute;
    left: 100px;
    top: 100px;

    transition: all 60ms ease-in;

    &.open {
        opacity: 1;
        transform: scale(1);
    }

    &.closed {
        opacity: 0;
        transform: scale(0.8);
    }

    .dotTester {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: black;
    }
}